/* body {
    background: url(./img/luxury.jpg) no-repeat center;
    background-size: cover;
    margin: 0 auto;
    margin-top: -40px;
    padding: 0;
    font-family: sans-serif;
} */

body {
    background: url(./img/sleaves.jpg);
    background-size: cover;
}

.box .container {
    display: inline-block;
    margin-left: -35px;
} 

.box .container img {
    display: inline;
    width: 30px;
    height: 34px;
    /* left: 30px; */
}

.box .container h1 {
    display: inline;
    color: white;
    font-weight: 500;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #191919;
    text-align: center;
    border-radius: 24px;
    box-shadow: -1px -1px 20px -2px rgba(0, 0, 0, 0.5);
}

.box input[type="text"], .box input[type="password"]{
    border: 0;
    background: none;
    display:block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid#FFCA40;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.5s;
}

.box input[type="text"]:focus, .box input[type="password"]:focus {
    width: 280px;
    border-color:#972fe7;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display:block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid#7C14CC;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #7C14CC;
}