h1 {
    color: #92C1D7;
    background-color: #f1e181;
    border: 3px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 150px;
    padding-left: 500px;
    border-style: outset;
}