body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background:black;
    background-size: cover;
}

.imb {
    position: absolute;
    width: 30%;
    height: 100%;
    background: url(./img/291514.jpg) no-repeat ;
    float: left;
    background-size: cover;
}

.form-part {
    float: right;
    left: 30%;
    height: 100%;
    position: absolute;
    width: 70%;
    background : white;
}

.form-login {
    position: absolute;
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.form-login h1 {
    font-size: 40px;
    border-bottom: 3px solid rgb(79, 133, 235);
    margin-bottom: 30px;
    padding: 10px;
    color: rgb(79, 133, 235);
    text-align: center;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0px;
    margin: 8px 0px;
    border-bottom: 1px solid  rgb(79, 133, 235);
}

.textbox input {
    border: none;
    outline: none;
    background:none ;
    color: white;
    font-size: 10px;
    width: 80px;
    float: left;
    margin: 0px 10px;
}

.btn {
    width: 100%;
    background:rgb(79, 133, 235) ;
    border: 2px solid rgb(79, 133, 235);
    color: white;
    font-size: 15px;
    font-weight: bold;
}
