:root{
    /* global */
    --text-color : blue;
}

h1 {
    /* local */
    --text-color : red;
    color: var(--text-color);
}

p {
    color: var(--text-color);
}

button{
    color: var(--text-color);
    /* background-color: var(--text-color); */
}